body{
 background: white;
}
.back2 img{background-image: c;
    height: 100vh;
    text-align: center;
    background-size: cover;
    
}
.card4{
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: beige;
    border-radius: 10px;
  
    height: 400px;
    border: gray;
    
}
.container{
    margin-top: 60px;
    padding-top: 30px;
}
.btn btn-primary{
    justify-content: center;
    align-items: center;
}